:root {
  --block-spacing: 2px;
  --block-color-1: #075368;
  --block-color-2: #b98109;
  --block-color-3: #a8509d;
  --block-color-4: #99dbec;
  --block-color-5: #f9eeb5;
}

.board-wrapper {
  overflow-x: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: var(--block-spacing);
}

.board-col {
  display: grid;
  gap: var(--block-spacing);
}

.tile {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.tile-0 {
  background-color: transparent;
  border: none;
  cursor: default;
}

.tile-1 {
  background-color: var(--block-color-1);
}

.tile-2 {
  background-color: var(--block-color-2);
}

.tile-3 {
  background-color: var(--block-color-3);
}

.tile-4 {
  background-color: var(--block-color-4);
}

.tile-5 {
  background-color: var(--block-color-5);
}

.tile.empty {
  visibility: hidden;
  cursor: none;
}

.next-move {
  box-shadow: 0 0 0 3px var(--mantine-color-bright);
}

.block-icon {
  width: 60%;
  height: 60%;
  filter: brightness(0.6);
}

.block-icon-1 {
  color: var(--block-color-1);
}

.block-icon-2 {
  color: var(--block-color-2);
}

.block-icon-3 {
  color: var(--block-color-3);
}

.block-icon-4 {
  color: var(--block-color-4);
}

.block-icon-5 {
  color: var(--block-color-5);
}

.block-icon.invisible {
  visibility: hidden;
}
