:root {
  --block-spacing: 2px;
  --block-color-1: #fcc736;
  --block-color-2: #3cd4c2;
  --block-color-3: #6879e4;
  --block-color-4: #a85ed5;
  --block-color-5: #f57c58;
}

/* Palette Pre-sets */
[data-palette='classic'] {
  --block-color-1: #fcc736;
  --block-color-2: #3cd4c2;
  --block-color-3: #6879e4;
  --block-color-4: #a85ed5;
  --block-color-5: #f57c58;
}

[data-palette='monochrome'] {
  --block-color-1: #302e2e;
  --block-color-2: #4a4a4a;
  --block-color-3: #838383;
  --block-color-4: #b4b4b4;
  --block-color-5: #d6d6d6;
}

[data-palette='preset-1'] {
  --block-color-1: #54004f;
  --block-color-2: #3d4a8b;
  --block-color-3: #448da7;
  --block-color-4: #ecbb6c;
  --block-color-5: #efeb7e;
}

.board-wrapper {
  overflow-x: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: var(--block-spacing);
}

.board-col {
  display: grid;
  gap: var(--block-spacing);
}

.tile {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.tile-0 {
  background-color: transparent;
  border: none;
  cursor: default;
}

.tile-1 {
  background-color: var(--block-color-1);
}

.tile-2 {
  background-color: var(--block-color-2);
}

.tile-3 {
  background-color: var(--block-color-3);
}

.tile-4 {
  background-color: var(--block-color-4);
}

.tile-5 {
  background-color: var(--block-color-5);
}

.tile.empty {
  visibility: hidden;
  cursor: none;
}

.next-move {
  box-shadow: 0 0 0 3px var(--mantine-color-bright);
}

.block-icon {
  width: 60%;
  height: 60%;
  filter: brightness(0.6);
}

.block-icon-1 {
  color: var(--block-color-1);
}

.block-icon-2 {
  color: var(--block-color-2);
}

.block-icon-3 {
  color: var(--block-color-3);
}

.block-icon-4 {
  color: var(--block-color-4);
}

.block-icon-5 {
  color: var(--block-color-5);
}

.block-icon.invisible {
  visibility: hidden;
}
