.game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'level'
    'score'
    'board';
}

.level-area {
  grid-area: 'level';
}

.score-area {
  grid-area: 'score';
}

.board-area {
  grid-area: 'board';
}
