.game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  row-gap: 1rem;
  grid-template-areas:
    'controls'
    'level'
    'score'
    'board';
}

.control-area {
  grid-area: 'control';
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.level-area {
  grid-area: 'level';
  display: flex;
  justify-content: space-between;
}

.score-area {
  grid-area: 'score';
}

.board-area {
  grid-area: 'board';
  position: relative;
}

.game-over-banner {
  position: absolute;
  top: 20;
  left: 0;
  right: 0;
}
